WSDL/ProcessarPedido.xml

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="RegistrarVenda">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idProduto" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="quantidade" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegistrarVendaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RegistrarVendaResult" type="tns:Retorno" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Retorno">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="DataEntrega" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ValorTotal" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="FgProcessado" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IdPedido" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="MensagemRetorno" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RegistrarVendaSoapIn">
    <wsdl:part name="parameters" element="tns:RegistrarVenda" />
  </wsdl:message>
  <wsdl:message name="RegistrarVendaSoapOut">
    <wsdl:part name="parameters" element="tns:RegistrarVendaResponse" />
  </wsdl:message>
  <wsdl:portType name="ProcessarPedidoSoap">
    <wsdl:operation name="RegistrarVenda">
      <wsdl:input message="tns:RegistrarVendaSoapIn" />
      <wsdl:output message="tns:RegistrarVendaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ProcessarPedidoSoap" type="tns:ProcessarPedidoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegistrarVenda">
      <soap:operation soapAction="http://tempuri.org/RegistrarVenda" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ProcessarPedidoSoap12" type="tns:ProcessarPedidoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegistrarVenda">
      <soap12:operation soapAction="http://tempuri.org/RegistrarVenda" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProcessarPedido">
    <wsdl:port name="ProcessarPedidoSoap" binding="tns:ProcessarPedidoSoap">
      <soap:address location="http://localhost:49557/ProcessarPedido.asmx" />
    </wsdl:port>
    <wsdl:port name="ProcessarPedidoSoap12" binding="tns:ProcessarPedidoSoap12">
      <soap12:address location="http://localhost:49557/ProcessarPedido.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>